<!DOCTYPE HTML>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>America's Bank Online | America's Bank</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/userforgot.css}" href="../../static/css/userforgot.css" />

    <script th:src="@{/js/jquery-3.4.1.min.js}" src="../../static/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="../../static/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/cleave.min.js}" src="../../static/js/cleave.min.js"></script>
    <script>
        $(document).ready(function () {
            // Start
            new Cleave('.ssn-input', {
                blocks: [3, 2, 4],
                delimiters: ['-', '-', '-'],
                delimiterLazyShow: true,
                numericOnly: true
            });

            new Cleave('.input-accountno', {
                blocks: [9],
                numericOnly: true
            });

            $('.ssn-input').focusin(function () {
                $(this).prop('type', 'text');
            });
            $('.ssn-input').focusout(function () {
                $(this).prop('type', 'password');
            });
        });
    </script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/header :: header">
        <nav
            class="navbar navbar-light bg-white border-bottom box-shadow justify-content-center">
            <a class="navbar-brand" href="/">America's Bank</a>
        </nav>
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="card form-info">
                <form method="POST" action="#" th:action="@{/user/forgot_credentials}" th:object="${customerForm}">
                    <h5 class="card-header">Enter user information for verification</h5>
                    <div class="card-body">
                        <div id="alert_block" th:if="${errorMsg} != null">
                            <div class="alert alert-danger" role="alert" th:text="${errorMsg}">
                                Error Message!!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSSNNumber">SSN Number</label>
                            <input type="text" class="form-control ssn-input" id="inputSSNNumber"
                                placeholder="_ _ _ - _ _ - _ _ _ _" th:field="*{ssnNumber}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAccountNo">Checking/Savings Account Number</label>
                            <input type="text" class="form-control input-accountno" id="inputAccountNo"
                                placeholder="9-digit account number" maxlength="9" th:field="*{accountNumber}" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputEmailAddress">Verify Email Address</label>
                            <input type="email" class="form-control" id="inputEmailAddress" placeholder="your@email.com"
                                th:field="*{emailAddress}" maxlength="45" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="forgotOptions" id="forgotUserName"
                                    value="username" th:field="*{forgotOption}" required>
                                <label class="form-check-label" for="forgotUserName">Username</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="forgotOptions" id="forgotPass"
                                    value="password" th:field="*{forgotOption}" required>
                                <label class="form-check-label" for="forgotPass">Password</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 border-top" th:replace="fragments/footer :: footer">
        <div class="container">
            <span class="text-muted">&copy; 2020 - America's Bank</span>
        </div>
    </footer>
</body>

</html>