<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>America's Bank Online | America's Bank</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/site.css}" href="../static/css/site.css" />

    <script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" src="../static/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Start
        });
    </script>
</head>

<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">America's Bank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/register/account">Open an Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">ATM Demo</a>
                        </li>
                    </ul>
                    <form class="form-inline justify-content-center" method="GET" action="#" th:action="@{/user/login}">
                        <button type="submit" class="nav-link btn btn-link">Login</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="text-center">
        <h1 class="display-4">Welcome to America's Bank</h1>
        <h4>America's #1 Trusted Bank</h4>
    </div>
    <footer class="border-top footer text-muted" th:replace="fragments/footer :: footer">
        <div class="container">
            &copy; 2020 - America's Bank
        </div>
    </footer>
</body>

</html>