main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: calc(100% - 114px);
    /* Space for navbar + footer */
    background-color: #f5f5f5;
}

.form-info {
    width: 100%;
    max-width: 480px;
    margin: auto;
}